<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>FinSight Smart Expense Dashboard</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<style>

body{
background:#f4f6f9;
}

.dark-mode{
background:#121212;
color:white;
}

.dark-mode .card{
background:#2b2b2b;
color:white;
}

</style>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">

<div class="container-fluid">

<span class="navbar-brand">FinSight Dashboard</span>

<div>

<button onclick="toggleDarkMode()" class="btn btn-secondary me-2">
🌙 Toggle Mode
</button>

<a href="/" class="btn btn-danger">
Logout
</a>

</div>

</div>

</nav>


<div class="container mt-4">

<h3 class="text-center mb-4">Smart Expense Dashboard</h3>


<!-- SALARY -->

<div class="card p-3 mb-4">

<label>Enter Salary</label>

<input type="number" id="salary" class="form-control"
placeholder="Enter salary">

</div>


<!-- EXPENSE INPUT -->

<div class="card p-3 mb-4">

<h5>Add Expenses</h5>

<div id="expenses-container"></div>

<button onclick="addExpense()" class="btn btn-primary mt-2">
Add Expense
</button>

<button onclick="calculateSavings()" class="btn btn-success mt-2">
Calculate Summary
</button>

<button onclick="downloadPDF()" class="btn btn-danger mt-2">
Download PDF Report
</button>

</div>


<!-- SUMMARY CARDS -->

<div class="row text-center mb-4">

<div class="col-md-3">
<div class="card bg-success text-white">
<div class="card-body">
<h6>Savings</h6>
<p id="savings">₹0</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-primary text-white">
<div class="card-body">
<h6>Spending Type</h6>
<p id="classification"></p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-dark text-white">
<div class="card-body">
<h6>Prediction</h6>
<p id="prediction"></p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-warning text-dark">
<div class="card-body">
<h6>Anomaly</h6>
<p id="anomaly"></p>
</div>
</div>
</div>

</div>


<!-- CHART -->

<div class="card p-4 mb-4 text-center">

<h5 class="text-center">Expense Distribution</h5>

<div style="width:400px; margin:auto;">
<canvas id="expenseChart"></canvas>
</div>

</div>


<!-- HISTORY -->

<div class="card p-4">

<h5>Expense History</h5>

<table class="table table-striped">

<thead>
<tr>
<th>Date</th>
<th>Category</th>
<th>Amount</th>
</tr>
</thead>

<tbody id="history"></tbody>

</table>

</div>

</div>


<script>
let expensesSaved = false
let chart
let ctx=document.getElementById("expenseChart").getContext("2d")

window.onload=function(){

addExpense()
loadHistory()

}

function addExpense(amount='',category='Food'){

    expensesSaved = false

let div=document.createElement("div")

div.innerHTML=`

<div class="row mb-2">

<div class="col-md-4">
<input type="number" class="form-control amount"
placeholder="Amount" value="${amount}">
</div>

<div class="col-md-4">
<input type="date" class="form-control expense-date">
</div>

<div class="col-md-4">
<select class="form-select category">
<option value="Food">Food</option>
<option value="Transport">Transport</option>
<option value="Bills">Bills</option>
<option value="Shopping">Shopping</option>
<option value="Entertainment">Entertainment</option>
<option value="Others">Others</option>
</select>
</div>

</div>
`

document.getElementById("expenses-container").appendChild(div)

div.querySelector(".category").value=category

}


async function calculateSavings(){

let salary=parseFloat(document.getElementById("salary").value)||0

let totalExpense=0
let expenseData={}
let expenseList=[]

let amountInputs=document.querySelectorAll(".amount")

for(let index=0; index<amountInputs.length; index++){

let amount=parseFloat(amountInputs[index].value)||0
let category=document.querySelectorAll(".category")[index].value
let date=document.querySelectorAll(".expense-date")[index].value

if(amount <= 0){
continue
}

if(!date){
date=new Date().toISOString().split("T")[0]
}

totalExpense+=amount

expenseData[category]=(expenseData[category]||0)+amount

expenseList.push({amount,category})

await fetch("/add_expense",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
category:category,
amount:amount,
date:date
})
})

}
if(!expensesSaved){

Swal.fire({
title:"Expense Saved",
icon:"success",
timer:1500,
showConfirmButton:false
})

}

expensesSaved = true

let savings=salary-totalExpense

document.getElementById("savings").innerText=`₹${savings}`

updateChart(expenseData,savings)

checkAnomaly()


// ML classification

let res=await fetch("/classify",{

method:"POST",
headers:{"Content-Type":"application/json"},

body:JSON.stringify({
income:salary,
expense:totalExpense
})

})

let data=await res.json()

document.getElementById("classification").innerText=data.classification


// prediction

let p=await fetch("/predict")

let pdata=await p.json()

document.getElementById("prediction").innerText=
"Next Expense: ₹"+pdata.prediction

loadHistory()

}


function updateChart(expenseData,savings){

let labels=Object.keys(expenseData).concat("Savings")

let values=Object.values(expenseData).concat(savings)

if(chart) chart.destroy()

chart=new Chart(ctx,{

type:'pie',

data:{
labels:labels,
datasets:[{
data:values
}]
}

})

}


function detectAnomaly(list){

if(list.length<5){

document.getElementById("anomaly").innerText="Not enough data"

return

}

let amounts=list.map(e=>e.amount)

let avg=amounts.reduce((a,b)=>a+b,0)/amounts.length

let unusual=list.find(e=>e.amount>avg*3)

if(unusual){

document.getElementById("anomaly").innerText=
`⚠ ₹${unusual.amount} in ${unusual.category}`

Swal.fire({

title:"Unusual Expense",
text:`${unusual.category}: ₹${unusual.amount}`,
icon:"warning"

})

}

}
async function checkAnomaly(){

let res = await fetch("/anomaly")
let data = await res.json()

if(data.amount){

Swal.fire({
title:"⚠ Unusual Expense Detected",
html:`
<b>Month:</b> ${data.month}<br>
<b>Category:</b> ${data.category}<br>
<b>Amount:</b> ₹${data.amount}`,
icon:"warning"
})

document.getElementById("anomaly").innerText =
`⚠ ${data.category} expense of ₹${data.amount} looks unusual`

}
else{

document.getElementById("anomaly").innerText =
"No unusual spending detected"

}

}
async function loadHistory(){

let res = await fetch("/get_expenses")

let data = await res.json()

let table=""

data.forEach(e=>{

table += `<tr>
<td>${e.date}</td>
<td>${e.category}</td>
<td>₹${e.amount}</td>
</tr>`

})

document.getElementById("history").innerHTML = table

}


function toggleDarkMode(){

document.body.classList.toggle("dark-mode")

}


function downloadPDF(){

const {jsPDF} = window.jspdf
const doc = new jsPDF()

let today = new Date().toLocaleDateString()

doc.text("Report Generated On: "+today,20,30)

let salary = document.getElementById("salary").value
let savings = document.getElementById("savings").innerText
let classification = document.getElementById("classification").innerText
let prediction = document.getElementById("prediction").innerText
let anomaly = document.getElementById("anomaly").innerText

// title
doc.setFontSize(18)
doc.text("FinSight Smart Expense Report",20,20)

// summary section
doc.setFontSize(12)
doc.text("Salary: ₹"+salary,20,40)
doc.text("Savings: "+savings,20,50)
doc.text("Spending Type: "+classification,20,60)
doc.text("Prediction: "+prediction,20,70)
doc.text("Anomaly Detection: "+anomaly,20,80)

// table header
doc.text("Expense History",20,100)

let rows = document.querySelectorAll("#history tr")

let y = 110

rows.forEach(row => {

let cols = row.querySelectorAll("td")

if(cols.length === 3){

doc.text(cols[0].innerText,20,y)  // date
doc.text(cols[1].innerText,70,y)  // category
doc.text(cols[2].innerText,140,y) // amount

y += 10

}

})

doc.save("FinSight_Report.pdf")

}

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
